<h3>Edit invoice Form</h3>

<form method="POST" action="/invoice/edit"> 
    <div>
        <label>Item Name</label>
        <input type="text" name="itemName" value="<%= invoice.itemName %>">
    </div>

    <div>
        <label>Supplier</label>
        <input type="text" name="supplier" value="<%= invoice.supplier %>">
    </div>

    <div>
        <label>Quantity</label>
        <input type="text" name="quantity" value="<%= invoice.quantity %>">
    </div>

    <div>
        <label>Paid?</label>
        <input type="text" name="paid" value="<%= invoice.paid %>">
    </div>

    <div>
        <label>Amount</label>
        <input type="text" name="amount" value="<%= invoice.amount %>">
    </div>
    <input type="hidden" name ="id" value="<%=invoice._id%>">
    <input type="submit">
</form>