<h3>invoice Index</h3>

<table>
    <tr>
        <th>Item Name</th>
        <th>Supplier</th>
        <th>Quantity</th>
        <th>Paid?</th>
        <th>Amount</th>
    </tr>
    <% invoices.forEach(function(invoice){ %>
        <tr>
            <td>
                <a href="/invoice/detail?id=<%= invoice._id %>">
                    <%= invoice.itemName %>
                </a>
                
            </td>
            <td><% invoice.supplier.forEach(function(obj, i){%>
                <%=obj.name%>

            <%}) %></td>
            <td><%= invoice.quantity %> </td>
            <td><%= invoice.paid %> </td>
            <td><%= invoice.amount %> </td>
            <td>
                <form method="POST" action="/invoice/delete?id=<%=invoice._id%>">
                    <button type="submit">DELETE</button>
                </form>
                <a href="/invoice/edit?id=<%=invoice._id%>">UPDATE</a>
            </td>
        </tr>
    <% }) %>
</table>